.uploaded__images {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.big__image_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.big__image {
  width: 91%;
  min-height: 75vh;
  max-height: 95vh;
  display: block;
}

@media only screen and (max-width: 992px) {
  .uploaded__images {
    width: 97%;
  }
}

@media only screen and (max-width: 800px) {
  .uploaded__images {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 552px) {
  .uploaded__images {
    justify-content: center;
  }
}
